<ul class="bottom-menu">
  <li>
    <a href="/stamp-rally/home">
      <i class="fa-solid fa-house"></i>
      <span>ホーム</span>
    </a>
  </li>
  <li>
    <a href="/stamp-rally/map/">
      <i class="fa-solid fa-map"></i>
      <span>マップ</span>
    </a>
  </li>
  <li>
    <a href="/stamp-rally/ar/">
      <i class="fa-solid fa-cube"></i>
      <span>AR</span>
    </a>
  </li>
  <li>
    <a href="/stamp-rally/stamplist/">
      <i class="fa-solid fa-stamp"></i>
      <span>スタンプ</span>
    </a>
  </li>
</ul>
</body>
