header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 88px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
}
header h1 {
  margin-left: 2rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}
header h1 a {
  text-decoration: none;
  color: black;
}
header nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav ul li.header-list {
  font-size: 20px;
  margin: 0 15px;
  list-style: none;
}
header nav ul li.header-list a {
  color: black;
  text-decoration: none;
}
header nav ul div {
  margin-left: 2rem;
}
header nav ul div button.header-btn {
  margin: 0 15px;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  font-size: large;
  cursor: pointer;
}

div.main_visual {
  margin-bottom: 5rem;
  width: 100%;
  height: 580px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-align-content: space-around;
      -ms-flex-line-pack: distribute;
          align-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
div.main_visual h2 {
  font-size: 2.25rem;
  line-height: 3rem;
}
div.main_visual img {
  width: 16rem;
}

div.about {
  width: 90%;
  margin: 0 auto;
  height: 560px;
  margin-bottom: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
}
div.about h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
div.about p {
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 28rem;
  text-align: center;
  margin: 0 auto 40px;
}
div.about div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
div.about div section.about-section {
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  background: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
          box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
div.about div section.about-section h4 {
  font-size: 16px;
  margin-bottom: 20px;
}
div.about div section.about-section img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}
div.about div section.about-section p {
  margin-bottom: 10px;
  width: 200px;
  font-size: 14px;
}

div.maeker div {
  width: 60%;
  height: 500px;
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240/var(--tw-bg-opacity));
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
div.maeker section.course-section {
  max-width: 450px;
  margin-right: 3rem;
}
div.maeker section.course-section h4 {
  font-size: 38px;
  margin-bottom: 20px;
}
div.maeker section.course-section p {
  line-height: 2;
  font-size: 16px;
  margin-bottom: 2rem;
}

div.location section.course-section {
  max-width: 450px;
  margin-left: 3rem;
}
div.location section.course-section h4 {
  font-size: 38px;
  margin-bottom: 20px;
}
div.location div {
  width: 60%;
  height: 500px;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240/var(--tw-bg-opacity));
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

div.course {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7rem;
}

p.course-section-text {
  line-height: 2;
  font-size: 16px;
  margin-bottom: 2rem;
}

.course-btn {
  width: 10rem;
  height: 4rem;
  font-size: large;
  cursor: pointer;
  margin-left: 3rem;
  border-radius: 1rem;
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0/var(--tw-border-opacity));
}

div.singup {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 7rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
div.singup h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 3rem;
}
div.singup input {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246/var(--tw-border-opacity));
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-width: 1px;
  border-radius: 1rem;
  width: 60%;
  height: 3rem;
  margin-bottom: 2rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(55 65 81/var(--tw-text-opacity));
  line-height: 1.25rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}
div.singup button {
  width: 250px;
  height: 60px;
  font-size: large;
  color: white;
  background-color: black;
  border-radius: 20px;
  cursor: pointer;
}

footer {
  width: 100%;
  height: 1.5rem;
}
footer p {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-bottom: 0.5rem;
}/*# sourceMappingURL=home.css.map */