ul.bottom-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  background: white;
  width: 100%;
  padding: auto;
  z-index: 100;
  li {
    border: solid;
    border-width: 1px 1px 0px 0px;
    list-style: none;
    width: 100%;
    text-align: center;
    &:last-of-type {
      border-width: 1px 0px 0px 0px;
    }
    a {
      display: block;
      width: 100%;
      text-decoration: none;
      color: black;
      i {
        color:black;
        margin: 7px 0px;
        font-size: 1.5rem;
      }
    }
    span {
      display: block;
      position: relative;
      font-size: 16px;
    }
  }
}



