*{
  margin: 0;
  padding: 0;
}

div.ui-wrapper{
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  // background-color: aquamarine;
  z-index: 10;
  div.circle {
    background-color: rgba(50, 50, 50, 0.5);
    // background-color: rgba(250, 250, 250, 0.5);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 2px 2px 2px 0;
    width:15%;
    border-radius:0 100% 100% 0%/0 50% 50% 0;
    border: white solid ;
    border-width: 2px 2px 2px 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    z-index: 10;
    h1{
      // transform: translateX(-15px);
      font-size: xx-large;
      padding: .5rem;
    }
    p{
      padding: .5rem;
      line-height: 30px;
    }
  }
  div#outer-circle{
    // background-color: rgba(50, 50, 50, 0.5);
    z-index: 1;
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: flex-end;
    justify-content: space-around;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 2px 2px 2px 0;
    width:23%;
    // border-radius:0 100% 100% 0%/0 50% 50% 0;
    // border: white solid ;
    // border-width: 2px 2px 2px 0;
    color: white;

    a{
      display: inline-block;
      width: 180px;
      border-radius: 20px;
      background-color: rgba(240, 240, 240, 0.7);
      box-shadow:  inset -5px 5px 10px #5a5a5a,
      inset 5px -5px 10px #ffffff;
      color: black;
      &:nth-child(1){
        transform: translateX(47%);
      }
      &:nth-child(2){
        transform: translateX(85%)
      }
      &:nth-child(3){
        transform: translateX(85%);
      }
      &:nth-child(4){
        transform: translateX(47%);
      }
      li{
        list-style: none;
        transform: translateX(0);
        i {
          border:2px white solid;
          border-radius: 50%;
          margin-right: 10px;
          padding: 10px;
        }
      }
    }
  }
  @media screen and (max-width: 768px){
    div.circle {
      width: 35%;
    }
    div#outer-circle{
      width: 42%;
      a{
        &:nth-child(1){
          transform: translateX(60%);
        }
        &:nth-child(2){
          transform: translateX(90%)
        }
        &:nth-child(3){
          transform: translateX(90%);
        }
        &:nth-child(4){
          transform: translateX(60%);
        }
      }
    }
  }
}
